---
import HeaderForGallery from "@/components/HeaderForGallery.astro";
import ExternalScripts from "../components/ExternalScripts.astro";
import GalleryImage from "../components/GalleryImage.astro";
import "../styles/main.css";
import MainLayout from "@/layouts/MainLayout.astro";
import Header from "@/components/Header.astro";
---
<MainLayout>
    <div class="w-full text-center mt-10">
    <h1 class="text-2xl font-bold md:text-4xl text-black dark:text-neutral-200 font-sans">Gallery</h1>
       
      </div>
<GalleryImage title="Orchid Group" description="Dubai" />
<ExternalScripts />
</MainLayout>



